header {
  background-image: url("../../images/image-hero-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
       height: 50vh;

h1{
  color: white;
  }
}
  @media screen and (min-width:768px) {
    header{
      background-image: url("../../images/image-hero-desktop.jpg")
      }
    
  }
